@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Taller en clase</h1>
    <p>Este taller trata sobre cambios en una AppWeb. Los cambios se realizarán en el HTML, CSS y JavaScript</a>.</p>
</div>
